<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{views/layout/app :: layout(~{::body/content()})}">
<head>
</head>
<body>
    <div class="dbSelect">
        <h2>1vs1ページ</h2>
        <div class="dbSelectContainer">
            <div class="item">
                <div id="selectPc1">
                    <img src="/myapplications/images/defo/noimage.png" />
                    <p>選択されていません</p>
                </div>
            </div>
            <div class="item selectList">
                <div th:each="pc , status : ${pc}" th:object="${pc}">
                    <div th:id="${status.index}" onclick="select1(this);">
                        <th:block th:if="*{imgPath != null}">
                            <img th:src="@{/images/{id}/{img_path}(id=*{user.id},img_path=*{imgPath})}" />
                        </th:block>
                        <th:block th:unless="*{imgPath != null}">
                            <img src="/myapplications/images/defo/noimage.png" />
                        </th:block>
                        <span th:id="*{name} + *{id}" th:text="*{name}"></span>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            function select1(e) {
                var index = e.id;
                selectPc1.innerHTML = document.getElementById(index).innerHTML;
                // alert(id);

                //selectPc1.innerHTML = index ;
                //selectPc1.innerHTML = "<p th:text='${pc[" + index + "].name}'></p>" ;
                //selectPc1.innerHTML = "<p id='33'>これと</p>" + index +"<p>それ</p>" ;

            }
        </script>
    </div>
</body>
</html>