<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{views/layout/app :: layout(~{::body/content()})}">
<head>
</head>
<body>
    <div class="dbSelectWarapper">
        <div class="dbSelect">
            <div class="dbSelectContainer">
                <div class="item">
                    <div id="selectPc1">
                        <img src="https://picdemo.s3-ap-northeast-1.amazonaws.com/defo/noimage.png" />
                        <p>選択されていません</p>
                    </div>
                </div>
                <div id="all1" class="item selectList">
                    <div th:each="pc , status : ${pc}" th:object="${pc}">
                        <div th:id="*{id}" onclick="select1(this);">
                            <th:block th:if="*{imgPath != null}">
                                <img th:src="@{https://picdemo.s3-ap-northeast-1.amazonaws.com/cs/{id}/{img_path}(id=*{user.id},img_path=*{imgPath})}" />
                            </th:block>
                            <th:block th:unless="*{imgPath != null}">
                                <img src="https://picdemo.s3-ap-northeast-1.amazonaws.com/defo/noimage.png" />
                            </th:block>
                            <span th:id="*{name} + *{id}" th:text="*{name}"></span>
                        </div>
                    </div>
                </div>
                <th:block th:unless="${session.login_user == null}">
                    <div id="user1" class="item selectList none">
                        <div th:each="up , status : ${up}" th:object="${up}">
                            <div th:id="*{id}" onclick="select1(this);">
                                <th:block th:if="*{imgPath != null}">
                                    <img th:src="@{https://picdemo.s3-ap-northeast-1.amazonaws.com/cs/{id}/{img_path}(id=*{user.id},img_path=*{imgPath})}" />
                                </th:block>
                                <th:block th:unless="*{imgPath != null}">
                                    <img src="https://picdemo.s3-ap-northeast-1.amazonaws.com/defo/noimage.png" />
                                </th:block>
                                <span th:id="*{name} + *{id}" th:text="*{name}"></span>
                            </div>
                        </div>
                    </div>
                    <div id="like1" class="item selectList none">
                        <div th:each="lp , status : ${lp}" th:object="${lp}">
                            <div th:id="*{id}" onclick="select1(this);">
                                <th:block th:if="*{imgPath != null}">
                                    <img th:src="@{https://picdemo.s3-ap-northeast-1.amazonaws.com/cs/{id}/{img_path}(id=*{user.id},img_path=*{imgPath})}" />
                                </th:block>
                                <th:block th:unless="*{imgPath != null}">
                                    <img src="https://picdemo.s3-ap-northeast-1.amazonaws.com/defo/noimage.png" />
                                </th:block>
                                <span th:id="*{name} + *{id}" th:text="*{name}"></span>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
            <div class="dbSelectContainer">
                <div class="item">
                    <div id="selectPc2">
                        <img src="https://picdemo.s3-ap-northeast-1.amazonaws.com/defo/noimage.png" />
                        <p>選択されていません</p>
                    </div>
                </div>
                <div id="all2" class="item selectList">
                    <div th:each="pc , status : ${pc}" th:object="${pc}">
                        <div th:id="*{id}" onclick="select2(this);">
                            <th:block th:if="*{imgPath != null}">
                                <img th:src="@{https://picdemo.s3-ap-northeast-1.amazonaws.com/cs/{id}/{img_path}(id=*{user.id},img_path=*{imgPath})}" />
                            </th:block>
                            <th:block th:unless="*{imgPath != null}">
                                <img src="https://picdemo.s3-ap-northeast-1.amazonaws.com/defo/noimage.pwng" />
                            </th:block>
                            <span th:id="*{name} + *{id}" th:text="*{name}"></span>
                        </div>
                    </div>
                </div>
                <th:block th:unless="${session.login_user == null}">
                    <div id="user2" class="item selectList none">
                        <div th:each="up , status : ${up}" th:object="${up}">
                            <div th:id="*{id}" onclick="select1(this);">
                                <th:block th:if="*{imgPath != null}">
                                    <img th:src="@{https://picdemo.s3-ap-northeast-1.amazonaws.com/cs/{id}/{img_path}(id=*{user.id},img_path=*{imgPath})}" />
                                </th:block>
                                <th:block th:unless="*{imgPath != null}">
                                    <img src="https://picdemo.s3-ap-northeast-1.amazonaws.com/defo/noimage.png" />
                                </th:block>
                                <span th:id="*{name} + *{id}" th:text="*{name}"></span>
                            </div>
                        </div>
                    </div>
                    <div id="like2" class="item selectList none">
                        <div th:each="lp , status : ${lp}" th:object="${lp}">
                            <div th:id="*{id}" onclick="select1(this);">
                                <th:block th:if="*{imgPath != null}">
                                    <img th:src="@{https://picdemo.s3-ap-northeast-1.amazonaws.com/cs/{id}/{img_path}(id=*{user.id},img_path=*{imgPath})}" />
                                </th:block>
                                <th:block th:unless="*{imgPath != null}">
                                    <img src="https://picdemo.s3-ap-northeast-1.amazonaws.com/defo/noimage.png" />
                                </th:block>
                                <span th:id="*{name} + *{id}" th:text="*{name}"></span>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
        <th:block th:unless="${session.login_user == null}">
            <div class="btnContainer">
                <div class="selectButtonList">
                    <a class="button selectButton" href="#" onclick="all1();">ALL</a>
                    <a class="button selectButton" href="#" onclick="my1();">My</a>
                    <a class="button selectButton" href="#" onclick="like1();">Like</a>
                </div>
                <div class="selectButtonList">
                    <a class="button selectButton" href="#" onclick="all2();">ALL</a>
                    <a class="button selectButton" href="#" onclick="my2();">My</a>
                    <a class="button selectButton" href="#" onclick="like2();">Like</a>
                </div>
            </div>
        </th:block>
        <script th:inline="javascript">
            function all1(){
                document.getElementById("all1").style.display = "block" ;
                document.getElementById("user1").style.display = "none" ;
                document.getElementById("like1").style.display = "none" ;
            }
            function my1(){
                document.getElementById("all1").style.display = "none" ;
                document.getElementById("user1").style.display = "block" ;
                document.getElementById("like1").style.display = "none" ;
            }
            function like1(){
                document.getElementById("all1").style.display = "none" ;
                document.getElementById("user1").style.display = "none" ;
                document.getElementById("like1").style.display = "block" ;
            }
            function all2(){
                document.getElementById("all2").style.display = "block" ;
                document.getElementById("user2").style.display = "none" ;
                document.getElementById("like2").style.display = "none" ;
            }
            function my2(){
                document.getElementById("all2").style.display = "none" ;
                document.getElementById("user2").style.display = "block" ;
                document.getElementById("like2").style.display = "none" ;
            }
            function like2(){
                document.getElementById("all2").style.display = "none" ;
                document.getElementById("user2").style.display = "none" ;
                document.getElementById("like2").style.display = "block" ;
            }
            /*<![CDATA[*/

            var id1;
            var id2;

            function select1(e) {
                id1 = e.id;
                selectPc1.innerHTML = document.getElementById(id1).innerHTML;

            }
            function select2(e) {
                id2 = e.id;
                selectPc2.innerHTML = document.getElementById(id2).innerHTML;

            }

            function submit() {
                var form = document.createElement('form');
                form.method = 'POST';
                form.action = /*[[ @{/db/log} ]]*/'';

                var select1 = document.createElement('input');
                select1.type = 'hidden';
                select1.name = 'pc1';
                select1.value = id1;

                form.appendChild(select1);

                var select2 = document.createElement('input');
                select2.type = 'hidden';
                select2.name = 'pc2';
                select2.value = id2;

                form.appendChild(select2);

                document.body.appendChild(form);
                form.submit();
            }

            /*]]>*/
        </script>

    </div>
    <a class="button" href="#" onclick="submit();">実行する</a>
</body>
</html>