<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{views/layout/app :: layout(~{::body/content()})}">
<head>
</head>
<body>
    <div class="dbSelectWarapper">
        <div class="dbSelect">
            <div class="dbSelectContainer">
                <div class="item">
                    <div id="selectPc1">
                        <img src="https://picdemo.s3-ap-northeast-1.amazonaws.com/defo/noimage.png" />
                        <p>選択されていません</p>
                    </div>
                </div>
                <div class="item selectList">
                    <div th:each="pc , status : ${pc}" th:object="${pc}">
                        <div th:id="*{id}" onclick="select1(this);">
                            <th:block th:if="*{imgPath != null}">
                                <img th:src="@{/images/{id}/{img_path}(id=*{user.id},img_path=*{imgPath})}" />
                            </th:block>
                            <th:block th:unless="*{imgPath != null}">
                                <img src="https://picdemo.s3-ap-northeast-1.amazonaws.com/defo/noimage.png" />
                            </th:block>
                            <span th:id="*{name} + *{id}" th:text="*{name}"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dbSelectContainer">
                <div class="item">
                    <div id="selectPc2">
                        <img src="https://picdemo.s3-ap-northeast-1.amazonaws.com/defo/noimage.png" />
                        <p>選択されていません</p>
                    </div>
                </div>
                <div class="item selectList">
                    <div th:each="pc , status : ${pc}" th:object="${pc}">
                        <div th:id="*{id}" onclick="select2(this);">
                            <th:block th:if="*{imgPath != null}">
                                <img th:src="@{/images/{id}/{img_path}(id=*{user.id},img_path=*{imgPath})}" />
                            </th:block>
                            <th:block th:unless="*{imgPath != null}">
                                <img src="https://picdemo.s3-ap-northeast-1.amazonaws.com/defo/noimage.pwng" />
                            </th:block>
                            <span th:id="*{name} + *{id}" th:text="*{name}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script th:inline="javascript">
            /*<![CDATA[*/
            var id1;
            var id2;

            function select1(e) {
                id1 = e.id;
                selectPc1.innerHTML = document.getElementById(id1).innerHTML;

            }
            function select2(e) {
                id2 = e.id;
                selectPc2.innerHTML = document.getElementById(id2).innerHTML;

            }

            function submit() {
                var form = document.createElement('form');
                form.method = 'POST';
                form.action = /*[[ @{/db/log} ]]*/'';

                var select1 = document.createElement('input');
                select1.type = 'hidden';
                select1.name = 'pc1';
                select1.value = id1;

                form.appendChild(select1);

                var select2 = document.createElement('input');
                select2.type = 'hidden';
                select2.name = 'pc2';
                select2.value = id2;

                form.appendChild(select2);

                document.body.appendChild(form);
                form.submit();
            }

            /*]]>*/
        </script>

    </div>
    <a class="button" href="#" onclick="submit();">実行する</a>
</body>
</html>