<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{views/layout/app :: layout(~{::body/content()})}">
<head>
</head>
<body>
    <div class="logWarraper">
        <div class="log_line" th:each="log , status : ${log}">
            <p th:id="${status.count}" class="none" th:utext="${log}"></p>
        </div>
        <a href="#" class="button" onclick="sumple();">一括表示</a>
        <script th:inline="javascript">
    　　　　 /*<![CDATA[*/
         var time ;
         var id = 1;
         var show = setInterval(function(){
             document.getElementById(id).style.display = "block" ;
             id ++ ;
             if(id > [[${log}]].length){
                 clearInterval(show);
             }
         },400);


         function 　sumple(){
             var show = setInterval(function(){
                 document.getElementById(id).style.display = "block" ;
                 id ++ ;
                 if(id > [[${log}]].length){
                     clearInterval(show);
                 }
             },0);
             }
          /*]]>*/
    </script>
    </div>
</body>
</html>