<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="registForm(charactersheet)">
<label for="img">画像をアップロード</label><br />
<input type="file" name="img" accept=".png,.jpg,.jpeg">

<div id="preview"></div>
<script type="text/javascript">
//画像をプレビューする
    function previewFile(file){
        const preview = document.getElementById('preview');
        const reader = new FileReader();

        reader.onload = function(e){
            const imageUrl = e.target.result; //画像のurlの呼び出し
            const img = document.createElement("img"); //img要素を作成
            img.src = imageUrl; //urlをimgにセット
            preview.appendChild(img); //#previewの中に追加
        }
        //ファイルを読み込む
        reader.readAsDataURL(file);
    }

    //<input>でファイルが選択されたときの処理
    const fileInput = document.getElementById('sample');
    const handleFileSelect = () => {
        const files = fileInput.files;
        for(let i = 0 ; i < files.length; i++){
            previewFile(files[i]);
        }
    }
    fileInput.addEventListener('change', handleFileSelect);

</script>
<br />
<br />
<label for="name">名前</label><br />
<input type="text" id="cs_name" name="name" />
<br />
<br />
<label for="name_ruby">ふりがな</label><br />
<input type="text" id="cs_name_ruby" name="name_ruby" />
<br />
<br />
<p>能力値</p>
<table class="ability">
    <tbody>
        <tr>
            <th><label for="str">STR</label></th>
            <th><label for="con">CON</label></th>
            <th><label for="dex">DEX</label></th>
            <th><label for="siz">SIZ</label></th>
            <th>HP</th>
            <th>DB</th>
        </tr>
        <tr>
            <td><input type="number" name="str" id="str" onkeyup="show()"/></td>
            <td><input type="number" name="con" id="con" onkeyup="show()"/></td>
            <td><input type="number" name="dex" id="dex" onkeyup="show()"/></td>
            <td><input type="number" name="siz" id="siz" onkeyup="show()"/></td>
            <td id="hp">--</td>
            <td id="db">--</td>
        </tr>
    </tbody>
</table>
<script>
    function show() {
        var str_data = document.getElementById("str").value;
        var con_data = document.getElementById("con").value;
        var siz_data = document.getElementById("siz").value;
        var dex_data = document.getElementById("dex").value;
        document.getElementById("hp").innerHTML = Math.round((parseInt(con_data) + parseInt(siz_data)) / 2);
        document.getElementById("dex_2").innerHTML = parseInt(dex_data) * 2;
        document.getElementById("avoidance").innerHTML = parseInt(dex_data) * + parseInt(document.getElementById("avoidance_add").value);

        var db_text;
        var db_num = parseInt(str_data) + parseInt(siz_data);

        if (db_num > 2 && db_num < 13) {
            db_text = "-1d4";
        } else if (db_num < 25) {
            db_text = "0";
        } else if (db_num < 33) {
            db_text = "+1d4";
        } else if (db_num < 41) {
            db_text = "+1d6";
        } else if (db_num < 57) {
            db_text = "+2d6";
        } else {
            db_text = "未設定";
        }
        document.getElementById("db").innerHTML = db_text;
    }
</script>
<br />
<br />
<p>技能値</p>
<table>
    <tbody>
        <tr>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>初期値</th>
            <th>振分け</th>
            <th>合計</th>
        </tr>
    </tbody>
</table>

<button type="submit">アップロード</button>

</div>
</body>
</html>