<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <div class="cs_form" th:fragment="registForm(charactersheet)">
        <div class="cs_form_container">
            <div class="cs_form_item">
                <label for="cs_img">画像をアップロード</label><br />
                <input type="file" name="cs_img" id="cs_img" accept=".png,.jpg,.jpeg" required onchange="check();">
                <div id="preview"></div>
                <script type="text/javascript">
//画像をプレビューする
    function previewFile(file){
        const preview = document.getElementById('preview');
        const reader = new FileReader();

        reader.onload = function(e){
            const imageUrl = e.target.result; //画像のurlの呼び出し
            const img = document.createElement("img"); //img要素を作成
            img.src = imageUrl; //urlをimgにセット
            preview.appendChild(img); //#previewの中に追加
        }
        //ファイルを読み込む
        reader.readAsDataURL(file);
    }

    //<input>でファイルが選択されたときの処理
    const fileInput = document.getElementById('cs_img');
    const handleFileSelect = () => {
        const files = fileInput.files;
        for(let i = 0 ; i < files.length; i++){
            previewFile(files[i]);
        }
    }
    fileInput.addEventListener('change', handleFileSelect);

    //二枚以上選択でアラートを出したい。現状出せていない。
    function check(){
        var fileList = document.getElementById("cs_img").files;
        if(fileList.length > 1){
            document.getElementById("cs_submit").disabled = true ;
            //↑disabledでsubmit無効化
            alert("アップロードは一枚のみです");
        }
    }


</script>
            </div>
            <div class="cs_form_item right">
                <br /> <br /> <label for="name">名前</label><br /> <input
                    type="text" id="cs_name" name="name" /> <br /> <br /> <label
                    for="name_ruby">ふりがな</label><br /> <input type="text"
                    id="cs_name_ruby" name="name_ruby" /> <br /> <br />
            </div>
        </div>
        <div class="ability_form">
            <p>能力値</p>
            <table>
                <tbody>
                    <tr>
                        <th><label for="str">STR</label></th>
                        <th><label for="con">CON</label></th>
                        <th><label for="dex">DEX</label></th>
                        <th><label for="siz">SIZ</label></th>
                        <th>HP</th>
                        <th>DB</th>
                    </tr>
                    <tr>
                        <td><input type="number" name="str" id="str" onkeyup="show()" /></td>
                        <td><input type="number" name="con" id="con" onkeyup="show()" /></td>
                        <td><input type="number" name="dex" id="dex" onkeyup="show()" /></td>
                        <td><input type="number" name="siz" id="siz" onkeyup="show()" /></td>
                        <td id="hp">--</td>
                        <td id="db">--</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <script>

</script>
        <br /> <br />
        <div class="skill_form">
            <p>技能値</p>
            <table>
                <tbody>
                    <tr>
                        <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        <th>初期値</th>
                        <th>振分け</th>
                        <th>合計</th>
                    </tr>
                    <tr>
                        <th>回避</th>
                        <td id="dex_2"></td>
                        <td><input type="number" name="avoidance_add"
                            id="avoidance_add" class="input_min" onkeyup="show()"
                            value="${pc.avoidance_add}" /></td>
                        <td id="avoidance"></td>
                    </tr>
                    <tr>
                        <th>キック</th>
                        <td>25</td>
                        <td><input type="number" name="kick_add" id="kick_add"
                            class="input_min" onkeyup="show_kick()"
                            value="${pc.kick_add}" /></td>
                        <td id="kick"></td>
                    </tr>
                    <tr>
                        <th>こぶし</th>
                        <td>50</td>
                        <td><input type="number" name="fist_add" id="fist_add"
                            class="input_min" onkeyup="show_fist()"
                            value="${pc.fist_add}" /></td>
                        <td id="fist"></td>
                    </tr>
                    <tr>
                        <th>頭突き</th>
                        <td>10</td>
                        <td><input type="number" name="headbutt_add"
                            id="headbutt_add" class="input_min" onkeyup="show_headbutt()"
                            value="${pc.headbutt_add}" /></td>
                        <td id="headbutt"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <input type="radio" name="release_flag" value="0"/>公開
        <input type="radio" name="release_flag" value="1"/>非公開
        <input type="hidden" name="token" th:value="${pc.token}" />
        <button type="submit" id="cs_submit">アップロード</button>
    </div>
</body>
</html>