<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <div class="pd_form" th:fragment="registForm(picdata)">
        <label for="name" class="name">表示名</label>
        <br />
        <input id="picName" type="text" name="name" th:value="${pd.name}" />
        <br />
        <br />
        <div class="pd_form_container">
            <div class="pd_form_item">
                <label for="defa">デフォルト画像</label>
                <br />
                <input type="file" name="defa" id="defa" accept=".png,.jpg,.jpeg" onChange="change();" />
                <th:block th:if="${pd.defaImg != null}">
                    <img id="defaSrc" th:src="@{/images/pd/{userId}/{id}/{Img}(userId=${pd.user.id},id=${pd.id},Img=${pd.defaImg})}" />
                </th:block>
                <th:block th:if="${pd.defaImg == null}">
                    <img id="defaSrc" src="/myapplications/images/defo/noimage.png" alt="pd_img" />
                </th:block>
            </div>
            <div class="pd_form_item">
                <label for="critical">クリティカル差分</label>
                <br />
                <input type="file" name="critical" id="critical" accept=".png,.jpg,.jpeg" onChange="change();" />
                <th:block th:if="${pd.criticalImg != null && pd.criticalImg != pd.defaImg}">
                    <img id="criticalSrc" th:src="@{/images/pd/{userId}/{id}/{Img}(userId=${pd.user.id},id=${pd.id},Img=${pd.criticalImg})}" />
                </th:block>
                <th:block th:if="${pd.criticalImg == pd.defaImg}">
                    <img id="criticalSrc" src="/myapplications/images/defo/noimage.png" alt="pd_img" />
                </th:block>
            </div>
            <div class="pd_form_item">
                <label for="fumble">ファンブル差分</label>
                <br />
                <input type="file" name="fumble" id="fumble" accept=".png,.jpg,.jpeg" onChange="change();" />
                <th:block th:if="${pd.fumbleImg != null && pd.fumbleImg != pd.defaImg}">
                    <img id="fumbleSrc" th:src="@{/images/pd/{userId}/{id}/{Img}(userId=${pd.user.id},id=${pd.id},Img=${pd.fumbleImg})}" />
                </th:block>
                <th:block th:if="${pd.fumbleImg == pd.defaImg}">
                    <img id="fumbleSrc" src="/myapplications/images/defo/noimage.png" alt="pd_img" />
                </th:block>
            </div>
        </div>
        <div class="pd_form_container">
            <div class="pd_form_item">
                <label for="load">読み込み中差分</label>
                <br />
                <input type="file" name="load" id="load" accept=".png,.jpg,.jpeg" onChange="change();" />
                <th:block th:if="${pd.loadImg != null && pd.loadImg != pd.defaImg}">
                    <img id="loadSrc" th:src="@{/images/pd/{userId}/{id}/{Img}(userId=${pd.user.id},id=${pd.id},Img=${pd.loadImg})}" />
                </th:block>
                <th:block th:if="${pd.loadImg == pd.defaImg}">
                    <img id="loadSrc" src="/myapplications/images/defo/noimage.png" alt="pd_img" />
                </th:block>
            </div>
            <div class="pd_form_item">
                <label for="hover">ホバー時差分</label>
                <br />
                <input type="file" name="hover" id="hover" accept=".png,.jpg,.jpeg" onChange="change();">
                <th:block th:if="${pd.hoverImg != null && pd.hoverImg != pd.defaImg}">
                    <img id="hoverSrc" th:src="@{/images/pd/{userId}/{id}/{Img}(userId=${pd.user.id},id=${pd.id},Img=${pd.hoverImg})}" />
                </th:block>
                <th:block th:if="${pd.hoverImg == pd.defaImg}">
                    <img id="hoverSrc" src="/myapplications/images/defo/noimage.png" alt="pd_img" />
                </th:block>
            </div>
            <div class="pd_form_item">
                <label for="active">クリック時差分</label>
                <br />
                <input type="file" name="active" id="active" accept=".png,.jpg,.jpeg" onChange="change();">
                <th:block th:if="${pd.activeImg != null && pd.activeImg != pd.defaImg}">
                    <img id="activeSrc" th:src="@{/images/pd/{userId}/{id}/{Img}(userId=${pd.user.id},id=${pd.id},Img=${pd.activeImg})}" />
                </th:block>
                <th:block th:if="${pd.activeImg == pd.defaImg}">
                    <img id="activeSrc" src="/myapplications/images/defo/noimage.png" alt="pd_img" />
                </th:block>
            </div>
        </div>
        <script type="text/javascript">
            function previewFile(file, id) {
                const reader = new FileReader();

                reader.onload = function(ev) {
                    const imageUrl = ev.target.result;
                    document.getElementById(id + "Src").src = imageUrl;
                }
                reader.readAsDataURL(file);
            }

            function change(e) {
                var e = e || window.event;
                var elem = e.target || e.srcElement;
                var elemId = elem.id;
                const fileInput = document.getElementById(elemId);
                const files = fileInput.files;
                previewFile(files[0], elemId);
                if(files[0].size > 1000000){
                    alert("画像ファイルは1MG以下のものを選択してください");
                }
            }
        </script>
        <input type="radio" name="releaseFlag" value="0" />
        公開
        <input type="radio" name="releaseFlag" value="1" />
        非公開
        <input type="hidden" name="token" th:value="${pd.token}" /><br />
        <button type="button" id="pd_submit" onclick="picSubmit();">アップロード</button>
        <script th:inline="javascript">
                                    /*<![CDATA[*/
    　　　　function picSubmit(){
        if(document.getElementById('defaSrc').src == "http://localhost:8080/myapplications/images/defo/noimage.png"){
            alert("デフォルト画像を選択してください");
        }else{
            if(document.getElementById('defa').files[0] != null){
            if(document.getElementById('defa').files[0].size > 1000000){
               var defaCheck = "デフォルト画像 ";
            }else{
                var defaCheck = "";
            }
            }else{
                var defaCheck = "";
            }
            if(document.getElementById('critical').files[0] != null){
            if(document.getElementById('critical').files[0].size > 1000000){
               var cliCheck = "クリティカル差分 ";
            }else{
                var cliCheck = "";
            }
            }else{
                var cliCheck = "";
            }

            if(document.getElementById('fumble').files[0] != null){
                if(document.getElementById('fumble').files[0].size > 1000000){
                   var funCheck = "ファンブル差分 ";
                }else{
                    var funCheck = "";
                }
                }else{
                    var funCheck = "";
                }

            if(document.getElementById('load').files[0] != null){
                if(document.getElementById('load').files[0].size > 1000000){
                   var loadCheck = "読み込み中差分 ";
                }else{
                    var loadCheck = "";
                }
                }else{
                    var loadCheck = "";
                }

            if(document.getElementById('hover').files[0] != null){
                if(document.getElementById('hover').files[0].size > 1000000){
                   var hovCheck = "ホバー時差分 ";
                }else{
                    var hovCheck = "";
                }
                }else{
                    var hovCheck = "";
                }

            if(document.getElementById('active').files[0] != null){
                if(document.getElementById('active').files[0].size > 1000000){
                   var actCheck = "クリック時差分 ";
                }else{
                    var actCheck = "";
                }
                }else{
                    var actCheck = "";
                }
            if(defaCheck == "" && cliCheck == "" && funCheck == "" && loadCheck == "" && actCheck == "" && hovCheck == ""){
                document.forms[0].submit();
            }else{
                alert(defaCheck + cliCheck + funCheck + loadCheck + hovCheck + actCheck　+ "のサイズが1MGを超えています");
            }

        }
    }
    /*]]>*/
    </script>
    </div>
</body>
</html>