<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <div id="signupForm" class="noneModal" th:fragment="registForm(sginup)">
        <div class="formTitle">
            <p>ログイン</p>
            <a class="xbutton" href="#!" onclick="showSignup()">×</a>
        </div>
        <div class="formContent">
            <label for="mail">メールアドレス</label>
            <br />
            <input type="text" id="signup_mail" name="mail" />
            <div class="checkD">
            <p id="mailCheckUp" class="checkP"></p>
            </div>
            <label for="password">パスワード</label>
            <br />
            <input type="password" id="signup_password" name="password" />
            <div class="checkD">
            <p id="passCheckUp" class="checkP"></p>
            </div>
            <button type="button" onclick="checkUp();">ログイン</button>
                <script>
        function checkUp(){
            var check = 0 ;
            if (document.getElementById("signup_mail").value == "") {
                check = 1;
                document.getElementById("mailCheckUp").innerHTML = "入力してください";
            } else {
                document.getElementById("mailCheckUp").innerHTML = "";
            }
            if (document.getElementById("signup_password").value == "") {
                check = 1;
                document.getElementById("passCheckUp").innerHTML = "入力してください";
            } else {
                document.getElementById("passCheckUp").innerHTML = "";
            }
            if(check == 0){
                document.forms['signupForm'].submit();
            }
        }
    </script>
            <br />
        </div>
    </div>

</body>
</html>