<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{views/layout/app :: layout(~{::body/content()})}">
<head>
</head>
<body>
 <div class="pdIndexWrapper">
        <h2 class="massage" th:if="${flush != null}" id="flushMessage" th:text="${flush}"></h2>
        <h2 class="massage" th:if="${error != null}" id="errorMessage" th:text="${error}"></h2>
  <th:block th:if="${session.login_user != null}">
   <a class="button" th:href="@{/pd/new}">新規登録</a>
   <a class="button" th:href="@{/pd/user}">自分の一覧を見る</a>
   <a class="button" th:href="@{/pd/like}">お気に入りを見る</a>
  </th:block>
  <th:block th:unless="${session.login_user != null}">
   <a class="button" href="#" onclick="showSignup()">ログインして登録する</a>
   <a class="button" href="#" onclick="showSignin()">アカウントを作成して登録する</a>
  </th:block>
  <div class="pdIndexContainer">
   <div class="item" th:each="pic : ${pic}" th:object="${pic}">
    <th:block th:if="*{defaImg != null}">
     <a th:href="@{/pd/play(id=*{id})}"><img th:src="@{/images/pd/{userId}/{id}/{defaImg}(userId=*{user.id},id=*{id},defaImg=*{defaImg})}" /></a>
    </th:block>
    <th:block th:unless="*{defaImg != null}">
     <a th:href="@{/pd/play(id=*{id})}"><img src="/myapplications/images/defo/noimage.png" /></a>
    </th:block>
    <p th:text="*{name}"></p>
   </div>
  </div>
 </div>
     <script>
                    window.onload = function() {
                        var none = function(){
                            if(document.getElementById('flushMessage') != null){
                            document.getElementById('flushMessage').classList.add('msNone');
                            }
                            if(document.getElementById('errorMessage') != null){
                            document.getElementById('errorMessage').classList.add('msNone');
                            }
                        }
                        setTimeout(none, 2000);
                    }
                </script>
</body>
</html>