<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{views/layout/app :: layout(~{::body/content()})}">
<head>
</head>
<body>
 <div class="pdIndexWrapper">
  <h2 th:if="${flush != null}" id="flush_message" th:text="${flush}"></h2>
  <th:block th:if="${session.login_user != null}">
   <a class="button" th:href="@{/pd/new}">新規登録</a>
   <a class="button" th:href="@{/pd/user}">自分の一覧を見る</a>
  </th:block>
  <th:block th:unless="${session.login_user != null}">
   <a class="button" href="#">ログインして登録する</a>
   <a class="button" href="#">アカウントを作成して登録する</a>
  </th:block>
  <div class="pdIndexContainer">
   <div class="item" th:each="pic : ${pic}" th:object="${pic}">
    <th:block th:if="*{defaImg != null}">
     <a th:href="@{/pd/play(id=*{id})}"><img th:src="@{/images/pd/{userId}/{id}/{defaImg}(userId=*{user.id},id=*{id},defaImg=*{defaImg})}" /></a>
    </th:block>
    <th:block th:unless="*{defaImg != null}">
     <a th:href="@{/pd/play(id=*{id})}"><img src="/myapplications/images/defo/noimage.png" /></a>
    </th:block>
    <p th:text="*{name}"></p>
   </div>
  </div>
 </div>
</body>
</html>