<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{views/layout/app :: layout(~{::body/content()})}">
<head>
</head>
<body>
    <div class="pcDicePlay">
        <th:block th:if="${session.login_user != null}">
            <th:block th:if="${pic.user.id != session.login_user.id}">
                <form name="PcLike" method="POST" th:action="@{/picLike}">
                    <th:block th:if="${like == null}">
                        <input class="likeButtonOff" type="submit" value="お気に入りに追加" />
                    </th:block>
                    <th:block th:if="${like != null}">
                        <input class="likeButtonOn" type="submit" value="お気に入り済" onclick="return Submit('PcLike','@{/pcLike}','POST');" />
                    </th:block>
                    <input type="hidden" name="token" th:value="${token}" />
                    <input type="hidden" name="id" th:value="${pic.id}" />
                </form>
            </th:block>
        </th:block>
        <a class="button" href="#" onclick="showMenu();">文字の編集</a>
        <div class="imgWrap">
            <img id="rollImg" th:src="@{/images/pd/{userId}/{id}/{defaImg}(userId=${pic.user.id},id=${pic.id},defaImg=${pic.defaImg})}" onclick="roll();" onmouseover="hover();" onmouseleave="notHover();" />
            <p id="rollNum" onclick="roll();">PUSH</p>
        </div>
        <script th:inline="javascript">
                                    /*<![CDATA[*/
                                        function notHover(){
                                            document.getElementById("rollImg").src = /*[[ @{/images/pd/{userId}/{id}/{Img}(userId=${pic.user.id},id=${pic.id},Img=${pic.defaImg})} ]]*/ "";
                                    }
                                        function hover(){
                                            document.getElementById("rollImg").src = /*[[ @{/images/pd/{userId}/{id}/{Img}(userId=${pic.user.id},id=${pic.id},Img=${pic.hoverImg})} ]]*/ "";
                                    }

                                    function change() {
                                        var random = Math.floor(Math.random()*100 + 1);
                                        document.getElementById("rollNum").innerHTML = random ;
                                        if(random > 95){
                                            document.getElementById("rollImg").src = /*[[ @{/images/pd/{userId}/{id}/{Img}(userId=${pic.user.id},id=${pic.id},Img=${pic.fumbleImg})} ]]*/ "";
                                            }else if(random < 6){
                                                document.getElementById("rollImg").src = /*[[ @{/images/pd/{userId}/{id}/{Img}(userId=${pic.user.id},id=${pic.id},Img=${pic.criticalImg})} ]]*/ "";
                                            }else{
                                                document.getElementById("rollImg").src = /*[[ @{/images/pd/{userId}/{id}/{Img}(userId=${pic.user.id},id=${pic.id},Img=${pic.defaImg})} ]]*/ "";
                                            }                                   }
                                    function roll(){
                                        document.getElementById("rollImg").src = /*[[ @{/images/pd/{userId}/{id}/{loadImg}(userId=${pic.user.id},id=${pic.id},loadImg=${pic.loadImg})} ]]*/ "";

                                        var count = 0;
                                        var Num = function(){
                                            var rdm = Math.floor(Math.random()*100);
                                            document.getElementById("rollNum").innerHTML = rdm ;
                                            count += 50 ;
                                        }
                                        function loading(){
                                        loadingNum = setInterval(function(){
                                            Num();

                                            if(count > 1400){
                                                clearInterval(loadingNum);
                                            }
                                        },50);
                                    }
                                        loading();
                                        setTimeout("change();" , 1500);

                                    }
                                    /*]]>*/
                                </script>
        <div id="picMenu" class="picMenu none">
            <a class="xbutton" href="#" onclick="showMenu();">×</a>
            <div class="slidebar">
                <p>上下</p>
                <div id="wkSlider1" class="wkSlider none"></div>
                <div id="wkValue1" class="wkValue"></div>
            </div>
            <div class="slidebar">
                <p>左右</p>
                <div id="wkSlider2" class="wkSlider none"></div>
                <div id="wkValue2" class="wkValue"></div>
            </div>
            <form name="pdDiceTextForm" method="post" th:action="@{/pd/adjustment}">
                <label for="color">文字色</label>
                <input type="color" id="colorSelect" name="color" th:value="${pic.color}" />
                <br />
                <input type="hidden" id="xAxis" name="xAxis" th:value="${pic.xAxis}" />
                <input type="hidden" id="yAxis" name="yAxis" th:value="${pic.yAxis}" />
                <input type="hidden" name="token" th:value="${pic.token}" />
            </form>
            <th:block th:if="${session.login_user != null}">
                <th:block th:if="${pic.user.id == session.login_user.id}">
                    <a id="saveButton" class="button opacity" href="#" onclick="adjustmentSubmit();">保存する</a>
                </th:block>
            </th:block>
        </div>
    </div>
    <script th:inline="javascript">
            /*<![CDATA[*/
                    function showMenu() {
                        document.getElementById("picMenu").classList.toggle("none");
                        document.getElementById("saveButton").classList.toggle("opacity");
                        document.getElementById("wkSlider1").classList.toggle("none");
                        document.getElementById("wkSlider2").classList.toggle("none");
                        document.getElementById("wkSlider1").getElementsByClassName("ui-slider-handle")[0].classList
                                .toggle("show");
                        document.getElementById("wkSlider2").getElementsByClassName("ui-slider-handle")[0].classList
                                .toggle("show");
                    }
                    function adjustmentSubmit() {
                        document.forms[0].submit();
                    }
                    <!--
                    $(function() {
                        $("#colorSelect").ready(function() {
                            document.getElementById('rollNum').style.color = /*[[ ${pic.color} ]]*/;
                        });
                        $("#colorSelect").change(function() {
                                            document.getElementById('rollNum').style.color = $(this).val();
                                        });
                        $("#wkSlider1").slider({
                                            max : 50, //最大値
                                            min : -50, //最小値
                                            value : /*[[ ${pic.xAxis} ]]*/, //初期値
                                            step : 1, //幅

                                            slide : function(event, ui) {
                                                $("#wkValue1").html(ui.value);
                                            },
                                            create : function(event, ui) {
                                                $("#wkValue1").html($(this).slider("value"));
                                                document.getElementById('rollNum').style.top = 50 + $(this).slider("value") + "%";
                                            },
                                            change : function(event, ui) {
                                                $("#wkValue1").html(ui.value);
                                                var x = ui.value;
                                                document.getElementById('rollNum').style.top = 50 + x + "%";
                                                $("#xAxis").val(x);
                                            }
                                        });
                        $("#wkSlider2").slider({
                                            max : 50, //最大値
                                            min : -50, //最小値
                                            value : /*[[ ${pic.yAxis} ]]*/, //初期値
                                            step : 1, //幅

                                            slide : function(event, ui) {
                                                $("#wkValue2").html(ui.value);
                                            },
                                            create : function(event, ui) {
                                                $("#wkValue2").html($(this).slider("value"));
                                                document.getElementById('rollNum').style.left = 50 + $(this).slider("value") + "%";
                                            },
                                            change : function(event, ui) {
                                                $("#wkValue2").html(ui.value);
                                                var y = ui.value;
                                                document.getElementById('rollNum').style.left = 50 + y + "%";
                                                $("#yAxis").val(y);
                                            }
                                        });
                    });
                //-->
            /*]]>*/
        </script>
</body>
</html>