//基本設定
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$baseColor:#b0c4de;
$pink:#fed6e3;
$overlay:#393f4c;

$titleFont:"Malgun Gothic";
$baseFont:"Mongolian Baiti",
"MS Mincho";

@mixin button() {
    display: inline-block;
    text-align: center;
    margin: 10px auto 10px auto;
    text-decoration: none;
    border: solid 2px;
    padding: 8px 30px;
    font-family: "Microsoft JhengHei UI";
    color: $overlay;

    background-image: linear-gradient($pink 0%, $baseColor 100%);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);

    &:hover {
        background-image: linear-gradient(#FFEDF3 0%, $baseColor 100%);
    }

    &:active {

        box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.32);
        background-image: linear-gradient(#fed6e3 0%, #7B94B5 100%);
    }
}

.button,
button {
    @include button();
}
.likeButton {
                margin: 10px;
                border-radius: 50%;
                font-size: 2.3rem;
                width: 45px;
                height: 45px;
                border: solid 1px #888;
            }

.likeButtonOff {
                color: #888;
                &:hover{
                    color: #bbb;
                }
            }

.likeButtonOn {
                color: #dc143c;
                border: solid 1px #ffc0cb;
                background: #fff0f5;
                &:hover{
                    color:lighten(#dc143c , 10% );
                }
            }

.deleteButton {
    @include button();
    margin-top: 60px;
    background: #ccc;
    color: #333;
}

.wrapper {
    overflow: hidden;
    margin: 0;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    font-family: $baseFont;
}

//pagination---------------------------
#pagination{
    margin: 30px;
    a{
    text-decoration: none;
    border: solid 1px #888;
    padding: 10px 11px;
    font-size: 1.1rem;
    margin: 10px;
    background:#eee;
    &:hover{
        background:#fff;
    }
    }
}

//メッセージデザイン-------------------------
#flushMessage {
    position: absolute;
    z-index: 20;
    background: #c1d8ac;
    padding: 10px 15px;
    color: #316745;
    transition: all 0.5s 0s ease;
}

#errorMessage {
    position: absolute;
    z-index: 20;
    background: #f5b1aa;
    padding: 10px 15px;
    color: #640125;
    transition: all 0.5s 0s ease;
}

.massage {
    top: 120px;
}

.msNone {
    top: 0px;
    opacity: 0;
}

header {
    height: 100px;
    background-color: $baseColor;
    padding: 0px 0px 10px 0px;

    .header_container {
        display: flex;
        justify-content: space-around;

        .button {
            margin-left: 10px;
        }
    }

    h1 {
        margin-top: 10px;
        font-size: 2rem;
        color: #fff;
        font-family: "Segoe Script";
    }

    .header_nav {
        text-align: center;
        margin-top: 10px;

        li {
            display: inline-block;

            a {
                padding: 15px 35px 0px 35px;
                text-decoration: none;
                transition: all 0.5s 0s ease;
                position: relative;
                font-size: 1.2rem;
                color: #333;

                &::before {
                    content: "";
                    display: block;
                    height: 1px;
                    width: 100%;
                    background: #555;
                    position: absolute;
                    bottom: 0;
                    transform: scaleX(0);
                    transition: transform 0.3s;
                }

                &:hover::before {
                    transform: scaleX(1);
                }

            }

        }
    }
}

main {

    width: 80%;
    margin: 0 auto auto auto;

    .topBtnWrap {
        h2 {
            text-align: center;
            font-size: 2.0rem;
            margin-top: 60px;

        }

        .btn_circle {
            text-align: center;
            margin-top: 50px;

            a {
                @include button();
                color: #fff;
                width: 150px;
                height: 150px;
                border-radius: 50%;

                line-height: 15px;
                overflow: hidden;
                padding: 60px 15px;


                background-image: linear-gradient($pink 0%, $baseColor 100%);
                text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);

                margin: auto 30px;


            }

        }
    }


}

//トップページ---------------------------------------
.toppageWrapper {
    .imgOverlay {
        position: relative;

        img {
            width: 125.5%;
            position: relative;
            left: -13%;
            object-fit: cover;
            height: 500px;
        }

        a {
            position: absolute;
            background: #333;
            left: -13%;
            right: -13%;
            top: 0;
            bottom: 3px;
            opacity: 0.3;
        }
    }

    .topCOntainerWrap {
        position: relative;

        .topContainer {
            display: flex;
            justify-content: space-evenly;
            margin-top: 150px;

            .topItem {
                position: relative;
                z-index: 5;

                .minImg1 {
                    width: 350px;
                    opacity: 0.7;
                    position: relative;
                    top: -85px;
                    filter: drop-shadow(2px 4px 6px $overlay);

                }

                .minImg2 {
                    width: 350px;
                    position: relative;
                    top: -85px;
                    filter: drop-shadow(2px 4px 6px $overlay);

                }

                h2 {
                    font-weight: bold;
                    font-size: 2.0rem;
                    margin-bottom: 30px;
                    margin-top: 130px;
                    border-left: solid 5px #333;
                    padding-left: 5px;
                }

                pre {
                    font-size: 1.6rem;
                    margin-top: 100px
                }
            }

        }

        .overImg {
            position: relative;

            img {
                position: absolute;
                left: -13%;
                object-fit: cover;
                width: 100vw;
                height: 700px;
                opacity: 0.1;
                top: -570px;
                z-index: 1;
            }
        }

        .linkButton {
            text-align: end;
            position: relative;
            z-index: 5;
        }

        .btn2 {
            margin-top: 100px;
        }
    }
}

//サインイン・サインアップフォーム--------------------------

.modal {
    z-index: 10;
    position: absolute;
    top: 200px;
    left: 40%;

    .formTitle {
        background: $baseColor;
        border: solid 1px #333;
        padding: 10px 20px;
        color: #fff;
        text-align: center;
        border-bottom: none;
        border-radius: 10px 10px 0px 0px;

        .xbutton {
            position: absolute;
            top: 0;
            right: 15px;
            font-size: 2.2rem;
            text-decoration: none;
            color: #555;
        }
    }

    .formContent {
        background: #fff;
        border: solid 1px #333;
        padding: 10px 20px;
        border-radius: 0px 0px 10px 10px;
    }

    label {
        margin-top: 15px;
    }

    button {
        margin-top: 20px;
    }

    .checkD {
        height: 35px;

        .checkP {
            background: #f5b1aa;
            color: #640125;

        }
    }
}

.modalUp {
    top: 155px;
    left: 37%;
}



.noneModal {
    display: none;
    opacity: 0;
}

.overlay {
    z-index: 5;
    position: absolute;
    background: $overlay;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0.8;
}




//CSのフォーム--------------------------------------
.cs_form {

    img {
        width: 200px;
    }

    .cs_form_container {
        margin-top: 60px;
        display: flex;
        text-align: center;
        justify-content: center;

        .right {
            margin-left: 150px;
        }

        .cs_form_item {
            display: grid;

            label {
                text-align: left;
                position: relative;
                bottom: -5px;
            }
        }
    }

    .ability_form,
    .skill_form {
        margin-bottom: 30px;

        input {
            width: 120px;
            height: 36px;
        }

        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }


        input[type="number"] {
            -moz-appearance: textfield;
        }
    }

    h2 {

        font-size: 1.3rem;
        margin-top: 30px;
        text-align: center;
    }

    table {
        background: #eee;
        margin: auto;

        th,
        td {
            border: solid 1px #888;
            width: 100px;
            font-size: 1.3rem;
            padding: 5px 10px;
        }
    }

}

//CSのindexページ--------------------------------------
.cs_index_wrapper {
    text-align: center;

    .cs_new {
        @include button();
    }

    .cs_index_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .cs_index_container {
            display: flex;
            width: 35vw;
            max-width: 380px;
            padding: 20px 20px 20px 0px;
            margin: 20px;
            border: solid 2px #555;
            border-radius: 5px;
            position: relative;

            .item {
                margin-left: 15px;
                text-align: left;

                p {
                    font-size: 1.3rem;
                    margin-bottom: 8px;
                }

                img {
                    width: 150px;
                    max-height: 150px;
                    object-fit: contain;
                }

                .cs_edit,
                .cs_show {
                    @include button();
                    text-decoration: none;
                    border: solid 1px #555;
                    padding: 1px 15px;
                    margin: 10px;
                    border-radius: 3px;
                    color: #333;
                    position: absolute;
                    right: 0px;
                    bottom: 10px;
                }

                .cs_show {
                    right: 80px;
                }
            }
        }
    }
}

//CSのShowページ--------------------------------------
.csShowWrap {
    margin-top: 60px;
    text-align: center;

    .csShowContainer {
        display: flex;
        justify-content: center;

        .item {
            margin: 10px 65px;

            img {
                width: 200px;
                max-height: 200px;
                object-fit: contain;
            }
        }

        .right {
            margin-top: 30px;
            text-align: left;

            p {
                margin-top: 20px;
                font-size: 1.3rem;
            }
        }

    }

    h2 {
        font-size: 1.3rem;
        margin-top: 30px;
    }

    table {
        margin: auto;

        th,
        td {
            border: solid 1px #888;
            width: 100px;
            font-size: 1.3rem;
            padding: 5px 10px;
        }
    }
}

//demobattle IndexPage-------------------------------------------------------
.dbContainer {
    display: flex;
    justify-content: center;

    .item {
        margin: 110px 50px 60px 50px;

        a {
            text-decoration: none;
            color: #fff;
            background-image: linear-gradient($pink 0%, $baseColor 100%);
            text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
            padding: 60px 90px;
            border-radius: 10px;

            &:active {
                box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.32);
                background-image: linear-gradient(#fed6e3 0%, #7B94B5 100%);
            }

            &:hover {
                background-image: linear-gradient(#FFEDF3 0%, $baseColor 100%);
            }
        }
    }
}

//demobattle selectPage-------------------------------------------------------

.dbSelectWarapper {
    .dbSelect {
        display: flex;
        justify-content: space-between;

        .dbSelectContainer {
            display: flex;
            justify-content: inherit;
            width: 600px;

            img {
                width: 200px;
            }

            .selectList {
                height: 500px;
                width: 250px;
                overflow: scroll;

                img {
                    width: 60px;
                }
            }
        }
    }
}

//logpage----------------------------------------------------------------------

.logWarraper {
    .none {
        display: none;
    }
}


//pcDicePage--------------------------------------------------------------------

//pdIndex--------------------

.pdIndexWrapper {
    text-align: center;

    .button {
        @include button();
    }

    .pdIndexContainer {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .item {

            flex-basis: 24vw;
            padding: 10px 0px 0px 0px;
            margin: 10px;
            border: solid 2px #baseColor;
            border-radius: 5px;

            img {
                max-width: 300px;
                max-height: 200px;
                filter: drop-shadow(3px 3px 0px #fff);

            }

            p {}
        }
    }
}

//pdForm---------------------

.pd_form {
    .pd_form_container {
        display: flex;

        img {
            width: 200px;
        }
    }
}

//pdPlay---------------------
.pcDicePlay {
    text-align: center;
    position: relative;

    .container {
        display: flex;
        justify-content: center;

    }

    .imgWrap {

        img {
            width: 800px;
            filter: drop-shadow(10px 10px 0px #B0CDEF);
            margin-top: 50px;

            &:active {
                filter: drop-shadow(0px 0px 0px #B0CDEF);
                margin-left: 10px;
                margin-top: 60px;

            }
        }


        #rollNum {
            color: #888;
            position: absolute;
            left: 50%;
            top: 50%;
            font-size: 2.5rem;
            width: 200px;
        }
    }

    .picMenu {
        position: fixed;
        width: 400px;
        height: 100%;
        right: 0px;
        top: 0px;
        background-color: lighten($baseColor, 15%);
        transition: all 0.3s 0s ease;

        .xbutton {
            margin-top: 80px;
            display: block;
            font-size: 3rem;
            text-decoration: none;
            color: #888;

        }

        .slidebar {
            p {
                margin-left: 11%;
                text-align: left;
                margin-top: 50px;
            }

            .wkSlider {
                width: 80%;
                margin: auto;

                .ui-slider-handle {
                    border: none;
                    background: none;
                }

                .show {
                    border: 1px solid #93c3cd;
                    background: #93c3cd url(images/ui-bg_diagonals-small_50_93c3cd_40x40.png) 50% 50% repeat;
                }
            }

            .wkValue {
                margin-top: 11px;
            }
        }

        #pdDiceTextForm {
            margin-top: 45px;
        }
    }

    .none {
        width: 0px;
    }

    .opacity {
        opacity: 0;
    }

}

//aboutページ--------------------------------------------------------------------------------
.aboutWrap {
    text-align: center;

    .aboutImg {
        margin-top: 100px;

        img {
            width: 150px;
            border-radius: 50%;
            filter: drop-shadow(0px 0px 4px $overlay);
        }

    }

    pre {
        margin: 60px 60px 0px 60px;
    }

    .skill {
        font-size: 2.0rem;
        margin-top: 160px;
    }

    .skillWrap {
        position: relative;
        background: lighten($baseColor, 10%);
        width: 80%;
        margin: 30px auto;
        padding: 20px;

        h2 {
            margin-bottom: 30px;
        }

        .skillContainer {
            position: relative;
            display: flex;
            justify-content: space-around;

            .item {
                width: 30%;
                background: #fff;
                padding: 10px 10px 20px 10px;

                .star {
                    margin-top: 5px;
                }
            }
        }

        .pinImg {
            width: 35px;
            right: 0%;
            position: absolute;
            top: 0%;
        }
    }

    .hobbyWrap {
        .container {
            text-align: initial;
            display: flex;
            justify-content: center;
            margin: 50px;
            align-items: flex-end;

            .item {
                margin: 15px;

                img {
                    width: 550px;
                    filter: drop-shadow(10px 14px 0px #b0c4de);
                }
            }
        }
    }

    .contactWrap {
        a {
            text-decoration: none;

            i {
                font-size: 4rem;
                margin: 35px;
                background: #b0c4de;
                padding: 16px;
                border-radius: 50%;
                color: #fff;
                width: 100px;

                &:hover {
                    background: lighten(#b0c4de, 5%);
                }
            }
        }
    }
}

//arrowButton----------------------------------------
#arrow {
    i {
        position: fixed;
        bottom: 20px;
        right: 20px;
        font-size: 3.0rem;
        opacity: 0.3;
        mix-blend-mode: multiply;
        z-index: 25;
        transition: ease 1s all;

        &:hover {
            opacity: 0.5;
        }
    }
}


//footer---------------------------------------------
footer {
    background-color: $baseColor;
    text-align: center;
    width: 100%;
    margin-top: 50px;
    padding: 20px;

    ul {
        font-size: 1.1rem;

        li {
            display: inline-block;
        }
                a {
                text-decoration: none;
                color: #333;

                &:hover {
                    color: #666;
                }
            }
    }
}
//利用規約・プライバシーポリシー--------------------------------
.terms{
    h1{
        font-size: 2.5rem;
    font-weight: bold;
    margin: 20px 0px;
    }
    h2{
        font-size: 1.5rem;
        font-weight: bold;
        margin-top:20px;
    }
}

//エラーページ用
.errorPage{
    margin-top:60px;
}

/*# sourceMappingURL=style.css.map */
