* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.button,
button {
  display: inline-block;
  text-align: center;
  margin: 10px auto 10px auto;
  text-decoration: none;
  border: solid 2px;
  padding: 8px 30px;
  font-family: "Microsoft JhengHei UI";
  color: #393f4c;
  background-image: linear-gradient(#fed6e3 0%, #b0c4de 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28); }
  .button:hover,
  button:hover {
    background-image: linear-gradient(#FFEDF3 0%, #b0c4de 100%); }
  .button:active,
  button:active {
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.32);
    background-image: linear-gradient(#fed6e3 0%, #7B94B5 100%); }

.deleteButton {
  display: inline-block;
  text-align: center;
  margin: 10px auto 10px auto;
  text-decoration: none;
  border: solid 2px;
  padding: 8px 30px;
  font-family: "Microsoft JhengHei UI";
  color: #393f4c;
  background-image: linear-gradient(#fed6e3 0%, #b0c4de 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
  margin-top: 60px;
  background: #ccc;
  color: #333; }
  .deleteButton:hover {
    background-image: linear-gradient(#FFEDF3 0%, #b0c4de 100%); }
  .deleteButton:active {
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.32);
    background-image: linear-gradient(#fed6e3 0%, #7B94B5 100%); }

.wrapper {
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  font-family: "Mongolian Baiti", "MS Mincho"; }

#flushMessage {
  position: absolute;
  z-index: 20;
  background: #c1d8ac;
  padding: 10px 15px;
  color: #316745;
  transition: all 0.5s 0s ease; }

#errorMessage {
  position: absolute;
  z-index: 20;
  background: #f5b1aa;
  padding: 10px 15px;
  color: #640125;
  transition: all 0.5s 0s ease; }

.massage {
  top: 120px; }

.msNone {
  top: 0px;
  opacity: 0; }

header {
  height: 100px;
  background-color: #b0c4de;
  padding: 0px 0px 10px 0px; }
  header .header_container {
    display: flex;
    justify-content: space-around; }
    header .header_container .button {
      margin-left: 10px; }
  header h1 {
    margin-top: 10px;
    font-size: 2rem;
    color: #fff;
    font-family: "Segoe Script"; }
  header .header_nav {
    text-align: center;
    margin-top: 10px; }
    header .header_nav li {
      display: inline-block; }
      header .header_nav li a {
        padding: 15px 35px 0px 35px;
        text-decoration: none;
        transition: all 0.5s 0s ease;
        position: relative;
        font-size: 1.2rem;
        color: #333; }
        header .header_nav li a::before {
          content: "";
          display: block;
          height: 1px;
          width: 100%;
          background: #555;
          position: absolute;
          bottom: 0;
          transform: scaleX(0);
          transition: transform 0.3s; }
        header .header_nav li a:hover::before {
          transform: scaleX(1); }

main {
  width: 80%;
  margin: 0 auto auto auto; }
  main .topBtnWrap h2 {
    text-align: center;
    font-size: 2.0rem;
    margin-top: 60px; }
  main .topBtnWrap .btn_circle {
    text-align: center;
    margin-top: 50px; }
    main .topBtnWrap .btn_circle a {
      display: inline-block;
      text-align: center;
      margin: 10px auto 10px auto;
      text-decoration: none;
      border: solid 2px;
      padding: 8px 30px;
      font-family: "Microsoft JhengHei UI";
      color: #393f4c;
      background-image: linear-gradient(#fed6e3 0%, #b0c4de 100%);
      text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
      color: #fff;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      line-height: 150px;
      overflow: hidden;
      background-image: linear-gradient(#fed6e3 0%, #b0c4de 100%);
      text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
      margin: auto 30px; }
      main .topBtnWrap .btn_circle a:hover {
        background-image: linear-gradient(#FFEDF3 0%, #b0c4de 100%); }
      main .topBtnWrap .btn_circle a:active {
        box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.32);
        background-image: linear-gradient(#fed6e3 0%, #7B94B5 100%); }

.toppageWrapper .imgOverlay {
  position: relative; }
  .toppageWrapper .imgOverlay img {
    width: 125.5%;
    position: relative;
    left: -13%;
    object-fit: cover;
    height: 500px; }
  .toppageWrapper .imgOverlay a {
    position: absolute;
    background: #333;
    left: -13%;
    right: -13%;
    top: 0;
    bottom: 3px;
    opacity: 0.3; }
.toppageWrapper .topCOntainerWrap {
  position: relative; }
  .toppageWrapper .topCOntainerWrap .topContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px; }
    .toppageWrapper .topCOntainerWrap .topContainer .topItem {
      position: relative;
      z-index: 5; }
      .toppageWrapper .topCOntainerWrap .topContainer .topItem .minImg1 {
        width: 350px;
        opacity: 0.7;
        position: relative;
        top: -85px;
        filter: drop-shadow(2px 4px 6px #393f4c); }
      .toppageWrapper .topCOntainerWrap .topContainer .topItem .minImg2 {
        width: 350px;
        position: relative;
        top: -85px;
        filter: drop-shadow(2px 4px 6px #393f4c); }
      .toppageWrapper .topCOntainerWrap .topContainer .topItem h2 {
        font-weight: bold;
        font-size: 2.0rem;
        margin-bottom: 30px;
        margin-top: 130px;
        border-left: solid 5px #333;
        padding-left: 5px; }
      .toppageWrapper .topCOntainerWrap .topContainer .topItem pre {
        font-size: 1.6rem;
        margin-top: 100px; }
  .toppageWrapper .topCOntainerWrap .overImg {
    position: relative; }
    .toppageWrapper .topCOntainerWrap .overImg img {
      position: absolute;
      left: -13%;
      object-fit: cover;
      width: 100vw;
      height: 700px;
      opacity: 0.1;
      top: -570px;
      z-index: 1; }
  .toppageWrapper .topCOntainerWrap .linkButton {
    text-align: end;
    position: relative;
    z-index: 5; }
  .toppageWrapper .topCOntainerWrap .btn2 {
    margin-top: 100px; }

.modal {
  z-index: 10;
  position: absolute;
  top: 200px;
  left: 40%; }
  .modal .formTitle {
    background: #b0c4de;
    border: solid 1px #333;
    padding: 10px 20px;
    color: #fff;
    text-align: center;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px; }
    .modal .formTitle .xbutton {
      position: absolute;
      top: 0;
      right: 15px;
      font-size: 2.2rem;
      text-decoration: none;
      color: #555; }
  .modal .formContent {
    background: #fff;
    border: solid 1px #333;
    padding: 10px 20px;
    border-radius: 0px 0px 10px 10px; }
  .modal label {
    margin-top: 15px; }
  .modal button {
    margin-top: 20px; }
  .modal .checkD {
    height: 35px; }
    .modal .checkD .checkP {
      background: #f5b1aa;
      color: #640125; }

.modalUp {
  top: 155px;
  left: 37%; }

.noneModal {
  display: none;
  opacity: 0; }

.overlay {
  z-index: 5;
  position: absolute;
  background: #393f4c;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  opacity: 0.8; }

.cs_form img {
  width: 200px; }
.cs_form .cs_form_container {
  margin-top: 60px;
  display: flex;
  text-align: center;
  justify-content: center; }
  .cs_form .cs_form_container .right {
    margin-left: 150px; }
  .cs_form .cs_form_container .cs_form_item {
    display: grid; }
    .cs_form .cs_form_container .cs_form_item label {
      text-align: left;
      position: relative;
      bottom: -5px; }
.cs_form .ability_form,
.cs_form .skill_form {
  margin-bottom: 30px; }
  .cs_form .ability_form input,
  .cs_form .skill_form input {
    width: 120px;
    height: 36px; }
  .cs_form .ability_form input[type="number"]::-webkit-outer-spin-button,
  .cs_form .skill_form input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  .cs_form .ability_form input[type="number"]::-webkit-inner-spin-button,
  .cs_form .skill_form input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  .cs_form .ability_form input[type="number"],
  .cs_form .skill_form input[type="number"] {
    -moz-appearance: textfield; }
.cs_form h2 {
  font-size: 1.3rem;
  margin-top: 30px;
  text-align: center; }
.cs_form table {
  background: #eee;
  margin: auto; }
  .cs_form table th,
  .cs_form table td {
    border: solid 1px #888;
    width: 100px;
    font-size: 1.3rem;
    padding: 5px 10px; }

.cs_index_wrapper {
  text-align: center; }
  .cs_index_wrapper .cs_new {
    display: inline-block;
    text-align: center;
    margin: 10px auto 10px auto;
    text-decoration: none;
    border: solid 2px;
    padding: 8px 30px;
    font-family: "Microsoft JhengHei UI";
    color: #393f4c;
    background-image: linear-gradient(#fed6e3 0%, #b0c4de 100%);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28); }
    .cs_index_wrapper .cs_new:hover {
      background-image: linear-gradient(#FFEDF3 0%, #b0c4de 100%); }
    .cs_index_wrapper .cs_new:active {
      box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.32);
      background-image: linear-gradient(#fed6e3 0%, #7B94B5 100%); }
  .cs_index_wrapper .cs_index_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .cs_index_wrapper .cs_index_list .cs_index_container {
      display: flex;
      width: 35vw;
      max-width: 380px;
      padding: 20px 20px 20px 0px;
      margin: 20px;
      border: solid 2px #555;
      border-radius: 5px;
      position: relative; }
      .cs_index_wrapper .cs_index_list .cs_index_container .item {
        margin-left: 15px;
        text-align: left; }
        .cs_index_wrapper .cs_index_list .cs_index_container .item p {
          font-size: 1.3rem;
          margin-bottom: 8px; }
        .cs_index_wrapper .cs_index_list .cs_index_container .item img {
          width: 150px;
          max-height: 150px;
          object-fit: contain; }
        .cs_index_wrapper .cs_index_list .cs_index_container .item .cs_edit,
        .cs_index_wrapper .cs_index_list .cs_index_container .item .cs_show {
          display: inline-block;
          text-align: center;
          margin: 10px auto 10px auto;
          text-decoration: none;
          border: solid 2px;
          padding: 8px 30px;
          font-family: "Microsoft JhengHei UI";
          color: #393f4c;
          background-image: linear-gradient(#fed6e3 0%, #b0c4de 100%);
          text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
          text-decoration: none;
          border: solid 1px #555;
          padding: 1px 15px;
          margin: 10px;
          border-radius: 3px;
          color: #333;
          position: absolute;
          right: 0px;
          bottom: 10px; }
          .cs_index_wrapper .cs_index_list .cs_index_container .item .cs_edit:hover,
          .cs_index_wrapper .cs_index_list .cs_index_container .item .cs_show:hover {
            background-image: linear-gradient(#FFEDF3 0%, #b0c4de 100%); }
          .cs_index_wrapper .cs_index_list .cs_index_container .item .cs_edit:active,
          .cs_index_wrapper .cs_index_list .cs_index_container .item .cs_show:active {
            box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.32);
            background-image: linear-gradient(#fed6e3 0%, #7B94B5 100%); }
        .cs_index_wrapper .cs_index_list .cs_index_container .item .cs_show {
          right: 80px; }

.csShowWrap {
  margin-top: 60px;
  text-align: center; }
  .csShowWrap .csShowContainer {
    display: flex;
    justify-content: center; }
    .csShowWrap .csShowContainer .item {
      margin: 10px 65px; }
      .csShowWrap .csShowContainer .item img {
        width: 200px;
        max-height: 200px;
        object-fit: contain; }
    .csShowWrap .csShowContainer .right {
      margin-top: 30px;
      text-align: left; }
      .csShowWrap .csShowContainer .right p {
        margin-top: 20px;
        font-size: 1.3rem; }
  .csShowWrap h2 {
    font-size: 1.3rem;
    margin-top: 30px; }
  .csShowWrap table {
    margin: auto; }
    .csShowWrap table th,
    .csShowWrap table td {
      border: solid 1px #888;
      width: 100px;
      font-size: 1.3rem;
      padding: 5px 10px; }

.dbContainer {
  display: flex;
  justify-content: center; }
  .dbContainer .item {
    margin: 110px 50px 60px 50px; }
    .dbContainer .item a {
      text-decoration: none;
      color: #fff;
      background-image: linear-gradient(#fed6e3 0%, #b0c4de 100%);
      text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
      padding: 60px 90px;
      border-radius: 10px; }
      .dbContainer .item a:active {
        box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.32);
        background-image: linear-gradient(#fed6e3 0%, #7B94B5 100%); }
      .dbContainer .item a:hover {
        background-image: linear-gradient(#FFEDF3 0%, #b0c4de 100%); }

.dbSelectWarapper .dbSelect {
  display: flex;
  justify-content: space-between; }
  .dbSelectWarapper .dbSelect .dbSelectContainer {
    display: flex;
    justify-content: inherit;
    width: 600px; }
    .dbSelectWarapper .dbSelect .dbSelectContainer img {
      width: 200px; }
    .dbSelectWarapper .dbSelect .dbSelectContainer .selectList {
      height: 500px;
      width: 250px;
      overflow: scroll; }
      .dbSelectWarapper .dbSelect .dbSelectContainer .selectList img {
        width: 60px; }

.logWarraper .none {
  display: none; }

.pdIndexWrapper {
  text-align: center; }
  .pdIndexWrapper .button {
    display: inline-block;
    text-align: center;
    margin: 10px auto 10px auto;
    text-decoration: none;
    border: solid 2px;
    padding: 8px 30px;
    font-family: "Microsoft JhengHei UI";
    color: #393f4c;
    background-image: linear-gradient(#fed6e3 0%, #b0c4de 100%);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28); }
    .pdIndexWrapper .button:hover {
      background-image: linear-gradient(#FFEDF3 0%, #b0c4de 100%); }
    .pdIndexWrapper .button:active {
      box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.32);
      background-image: linear-gradient(#fed6e3 0%, #7B94B5 100%); }
  .pdIndexWrapper .pdIndexContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    .pdIndexWrapper .pdIndexContainer .item {
      flex-basis: 24vw;
      padding: 10px 0px 0px 0px;
      margin: 10px;
      border: solid 2px #baseColor;
      border-radius: 5px; }
      .pdIndexWrapper .pdIndexContainer .item img {
        max-width: 300px;
        max-height: 200px;
        filter: drop-shadow(3px 3px 0px #fff); }

.pd_form .pd_form_container {
  display: flex; }
  .pd_form .pd_form_container img {
    width: 200px; }

.pcDicePlay {
  text-align: center;
  position: relative; }
  .pcDicePlay .container {
    display: flex;
    justify-content: center; }
    .pcDicePlay .container .item .likeButton {
      margin: 10px;
      border-radius: 50%;
      font-size: 2.3rem;
      width: 45px;
      height: 45px;
      border: solid 1px #888; }
    .pcDicePlay .container .item .likeButtonOff {
      color: #888; }
    .pcDicePlay .container .item .likeButtonOn {
      color: #dc143c;
      border: solid 1px #ffc0cb;
      background: #fff0f5; }
  .pcDicePlay .imgWrap img {
    width: 800px;
    filter: drop-shadow(10px 10px 0px #B0CDEF);
    margin-top: 50px; }
    .pcDicePlay .imgWrap img:active {
      filter: drop-shadow(0px 0px 0px #B0CDEF);
      margin-left: 10px;
      margin-top: 60px; }
  .pcDicePlay .imgWrap #rollNum {
    color: #888;
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 2.5rem;
    width: 200px; }
  .pcDicePlay .picMenu {
    position: fixed;
    width: 400px;
    height: 100%;
    right: 0px;
    top: 0px;
    background-color: #e6ecf5;
    transition: all 0.3s 0s ease; }
    .pcDicePlay .picMenu .xbutton {
      margin-top: 80px;
      display: block;
      font-size: 3rem;
      text-decoration: none;
      color: #888; }
    .pcDicePlay .picMenu .slidebar p {
      margin-left: 11%;
      text-align: left;
      margin-top: 50px; }
    .pcDicePlay .picMenu .slidebar .wkSlider {
      width: 80%;
      margin: auto; }
      .pcDicePlay .picMenu .slidebar .wkSlider .ui-slider-handle {
        border: none;
        background: none; }
      .pcDicePlay .picMenu .slidebar .wkSlider .show {
        border: 1px solid #93c3cd;
        background: #93c3cd url(images/ui-bg_diagonals-small_50_93c3cd_40x40.png) 50% 50% repeat; }
    .pcDicePlay .picMenu .slidebar .wkValue {
      margin-top: 11px; }
    .pcDicePlay .picMenu #pdDiceTextForm {
      margin-top: 45px; }
  .pcDicePlay .none {
    width: 0px; }
  .pcDicePlay .opacity {
    opacity: 0; }

.aboutWrap {
  text-align: center; }
  .aboutWrap .aboutImg {
    margin-top: 100px; }
    .aboutWrap .aboutImg img {
      width: 150px;
      border-radius: 50%;
      filter: drop-shadow(0px 0px 4px #393f4c); }
  .aboutWrap pre {
    margin: 60px 60px 0px 60px; }
  .aboutWrap .skill {
    font-size: 2.0rem;
    margin-top: 160px; }
  .aboutWrap .skillWrap {
    position: relative;
    background: #d4dfed;
    width: 80%;
    margin: 30px auto;
    padding: 20px; }
    .aboutWrap .skillWrap h2 {
      margin-bottom: 30px; }
    .aboutWrap .skillWrap .skillContainer {
      position: relative;
      display: flex;
      justify-content: space-around; }
      .aboutWrap .skillWrap .skillContainer .item {
        width: 30%;
        background: #fff;
        padding: 10px 10px 20px 10px; }
        .aboutWrap .skillWrap .skillContainer .item .star {
          margin-top: 5px; }
    .aboutWrap .skillWrap .pinImg {
      width: 35px;
      right: 0%;
      position: absolute;
      top: 0%; }
  .aboutWrap .hobbyWrap .container {
    text-align: initial;
    display: flex;
    justify-content: center;
    margin: 50px;
    align-items: flex-end; }
    .aboutWrap .hobbyWrap .container .item {
      margin: 15px; }
      .aboutWrap .hobbyWrap .container .item img {
        width: 550px;
        filter: drop-shadow(10px 14px 0px #b0c4de); }
  .aboutWrap .contactWrap a {
    text-decoration: none; }
    .aboutWrap .contactWrap a i {
      font-size: 4rem;
      margin: 35px;
      background: #b0c4de;
      padding: 16px;
      border-radius: 50%;
      color: #fff;
      width: 100px; }
      .aboutWrap .contactWrap a i:hover {
        background: #c2d1e6; }

#arrow i {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 3.0rem;
  opacity: 0.3;
  mix-blend-mode: multiply;
  z-index: 25;
  transition: ease 1s all; }
  #arrow i:hover {
    opacity: 0.5; }

footer {
  background-color: #b0c4de;
  text-align: center;
  width: 100%;
  margin-top: 50px;
  padding: 20px; }
  footer ul {
    font-size: 1.1rem; }
    footer ul li {
      display: inline-block; }
      footer ul li a {
        text-decoration: none;
        color: #333; }
        footer ul li a:hover {
          color: #666; }

.terms h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 20px 0px; }
.terms h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 20px; }

.errorPage {
  margin-top: 60px; }

/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
