<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{views/layout/app :: layout(~{::body/content()})}">
<head>
</head>
<body>
    <div class="aboutWrap">
        <div class="aboutImg">
            <img src="/images/defo/aboutme.png">
        </div>
        <p>Name:神庭 早音</p>
        <pre>
1998年1月　北海道中部出身。
2020年2月　趣味で触れたHTMLファイルに対し「これはどうなっているのだろう？」と思ったことをきっかけに、Webへの興味を持つ。
2020年3月からオンラインスクール『techacademy』様にてcss・wordpressの学習を始め、
同年10月より同じく『techacademy』様にてjavaを学習。
同時進行としてjavascript、jQueryを独学で学び、本サイトの作成へと至る。
    </pre>
        <p class="skill">Skill</p>
        <div class="skillWrap">
            <img class="pinImg" src="/images/defo/pin.png">
            <h2>フロントエンド</h2>
            <div class="skillContainer">
                <div class="item">
                    <p>HTML</p>
                    <p class="star">★★★★☆</p>
                </div>
                <div class="item">
                    <p>CSS・SASS</p>
                    <p class="star">★★★★☆</p>
                </div>
                <div class="item">
                    <p>JavaScript・jQuery</p>
                    <p class="star">★★★☆☆</p>
                </div>
            </div>
        </div>
        <div class="skillWrap">
            <img class="pinImg" src="/images/defo/pin.png">
            <h2>サーバーサイド</h2>
            <div class="skillContainer">
                <div class="item">
                    <p>java</p>
                    <p class="star">★★★★☆</p>
                </div>
            </div>
        </div>
        <div class="skillWrap">
            <img class="pinImg" src="/images/defo/pin.png">
            <h2>その他</h2>
            <div class="skillContainer">
                <div class="item">
                    <p>MySQL</p>
                    <p class="star">★★★☆☆</p>
                </div>
                <div class="item">
                    <p>Git</p>
                    <p class="star">★★★★☆</p>
                </div>
            </div>
        </div><div class="hobbyWrap">
            <p class="skill">Hobby</p>
            <div class="container">
                <div class="item">
                    <p>絵を描くことが好きです</p>
                    <p>時折素材を自作して使っています</p>
                </div>
                <div class="item">
                    <img class="pinImg" src="/images/defo/illust.jpg">
                </div>
            </div>
            <div class="container">
                <div class="item">
                    <img class="pinImg" src="/images/defo/bodoge.jpg">
                </div>
                <div class="item">
                    <p>ボードゲームが好きです</p>
                    <p>少人数から大人数、わいわい系から心理戦まで幅広く</p>
                    <p>一等好きなボードゲームは『ガイスター』</p>
                </div>
            </div>
            <div class="container">
                <div class="item">
                    <p>TRPGが好きです</p>
                    <p>Webに触れたきっかけはCOCのログファイルでした</p>
                    <p>PLさんに楽しんでもらうための準備が好きな根からのKP気質です</p>
                </div>
                <div class="item">
                    <img class="pinImg" src="/images/defo/trpg.jpg">
                </div>
            </div>
        </div>

        <div class="contactWrap">
            <p class="skill">Contact</p>
            <a href="https://github.com/akane-senseki" target="_blank" rel="noopener noreferrer">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>
            <a href="https://twitter.com/HayaneKannba" target="_blank" rel="noopener noreferrer">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="mailto:ｘｘｘ">
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </a>
        </div>

    </div>
</body>
</html>