<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout (body)">
<head>
<meta charset="utf-8">
<link th:href="@{/css/reset.css}" rel="stylesheet">
<!-- jQuery本体 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- jQuery UI(スライドバー用) -->
<!-- <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/hot-sneaks/jquery-ui.css"> -->
<link th:href="@{/css/slide.css}" rel="stylesheet">
<link th:href="@{/css/style.css}" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<title>PicDemo</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="header_container">
                <div class="header_item">
                    <h1>PicDemo!</h1>
                </div>
                <div class="header_item">
                    <th:block th:if="${session.login_user == null}">
                        <a href="#" class="button" onclick="showSignup()">ログイン</a>
                        <a href="#" class="button" onclick="showSignin()">新規登録</a>
                    </th:block>
                    <th:block th:unless="${session.login_user == null}">
                        <a class="button" th:href="@{/logout}">ログアウト</a>
                    </th:block>
                </div>
            </div>
            <ul class="header_nav">
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/db/index}">Demo Battle</a></li>
                <li><a th:href="@{/pd/index}">Pc Dice</a></li>
                <li><a th:href="@{/cs/index}">Characeter Sheet</a></li>
            </ul>
        </header>
        <main>
            <div id="content">
                <div th:replace="${body}"></div>
            </div>
        </main>
            <a id="arrow"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a>
            <script>
            $('#arrow').click(function () {
                $('body, html').animate({
                    scrollTop: 0
                }, 1000);
            });
            </script>
        <footer>
            <ul class="footer_nav">
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/db/index}">Demo Battle</a></li>
                <li><a th:href="@{/pd/user}">Pc Dice</a></li>
                <li><a th:href="@{/cs/user}">Characeter Sheet</a></li>
                <th:block th:if="${session.login_user != null}">
                    <a href="#" onclick="userDestroy()">アカウントを削除</a>
                    <form name="userDestroyForm" method="POST" th:action="@{/user/destroy}">
                        <input type="hidden" name="token" th:value="${session.token}" />
                    </form>
                </th:block>
            </ul>
            <script>
            function userDestroy() {
                if (confirm("アカウントを削除しますか？")) {
                    document.forms['userDestroyForm'].submit();
                }
            }
            </script>
            <small>©2021- MyApplications</small>
        </footer>
    </div>
    <!-- サインインフォーム -->
    <form name="signinForm" class="signinFormWrapper modal modalUp" method="POST" th:action="@{/signin}">
        <div th:replace="~{views/form/signin::registForm(${user})}"></div>
    </form>
    <script>
                    function showSignin() {
                        document.getElementById("overlay1").classList
                                .toggle("noneModal");
                        document.getElementById("signinForm").classList
                                .toggle("noneModal");
                    }
                </script>
    <!-- サインアップフォーム -->
    <form name="signupForm" class="signinFormWrapper modal" method="POST" th:action="@{/signup}">
        <div th:replace="~{views/form/signup::registForm(${user})}"></div>
    </form>
    <script>
                    function showSignup() {
                        document.getElementById("overlay2").classList
                                .toggle("noneModal");
                        document.getElementById("signupForm").classList
                                .toggle("noneModal");
                    }
                </script>
    <a href="#!" id="overlay1" class="overlay noneModal" onclick="showSignin()"></a>
    <a href="#!" id="overlay2" class="overlay noneModal" onclick="showSignup()"></a>
    <!-- jQuery UI(スライドバー用) -->
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
</body>
</html>