<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout (body)">
<head>
<meta charset="utf-8">
<link th:href="@{/css/reset.css}" rel="stylesheet">
<!-- jQuery本体 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- jQuery UI(スライドバー用) -->
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/hot-sneaks/jquery-ui.css">
<link th:href="@{/css/style.css}" rel="stylesheet">
<title>MyApplications</title>
</head>
<body>
 <div class="wrapper">
  <header>
   <div class="header_container">
    <div class="header_item">
     <h1>MyApplications</h1>
    </div>
    <div class="header_item">
     <th:block th:if="${session.login_user == null}">
      <a href="#"class="button" onclick="showSignup()">ログイン</a>
      <a href="#!" class="button" onclick="showSignin()">新規登録</a>
     </th:block>
     <th:block th:unless="${session.login_user == null}">
      <p th:text="${session.login_user.name}+'さん'"></p>
      <a th:href="@{/logout}">ログアウト</a>
     </th:block>
    </div>
   </div>
   <ul class="header_nav">
    <li><a th:href="@{/}">Home</a></li>
    <li><a th:href="@{/db/index}">Demo Battle</a></li>
    <li><a th:href="@{/pd/index}">Pc Dice</a></li>
    <li><a th:href="@{/cs/index}">Characeter Sheet</a></li>
    <li><a th:href="@{/}">Info</a></li>
   </ul>
  </header>
  <main>
   <div id="content">
    <div th:replace="${body}"></div>
   </div>
  </main>
  <footer>
   <ul class="footer_nav">
    <li><a th:href="@{/}">Home</a></li>
    <li><a th:href="@{/db/index}">Demo Battle</a></li>
    <li><a th:href="@{/pd/index}">Pc Dice</a></li>
    <li><a th:href="@{/cs/index}">Characeter Sheet</a></li>
    <li><a th:href="@{/}">Info</a></li>
   </ul>
   <small>©2021- MyApplicationss</small>
  </footer>
 </div>

    <!-- サインインフォーム -->
     <form class="signinFormWrapper modal" method="POST" th:action="@{/signin}">
        <div th:replace="~{views/form/signin::registForm(${user})}"></div>
    </form>
    <script>
        function showSignin(){
            document.getElementById("overlay1").classList.toggle("noneModal");
            document.getElementById("signinForm").classList.toggle("noneModal");
        }
    </script>
    <br />
    <br />

    <!-- サインアップフォーム -->
    <form class="signinFormWrapper modal" method="POST" th:action="@{/signup}">
        <div th:replace="~{views/form/signup::registForm(${user})}"></div>
    </form>
        <script>
        function showSignup(){
            document.getElementById("overlay2").classList.toggle("noneModal");
            document.getElementById("signupForm").classList.toggle("noneModal");
        }
    </script>
    <a href="#!" id="overlay1" class="overlay noneModal"  onclick="showSignin()"></a>
    <a href="#!" id="overlay2" class="overlay noneModal"  onclick="showSignup()"></a>
</body>
</html>