<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout (body)">
<head>
<meta charset="utf-8">
<link th:href="@{/css/reset.css}" rel="stylesheet">
<link th:href="@{/css/style.css}" rel="stylesheet">
<title>MyApplications</title>
</head>
<body>
    <div class="wrapper">
        <div id="header">
            <h1>MyApplications</h1>
            <ul class="header_nav">
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/}">Demo Battle</a></li>
                <li><a th:href="@{/}">Pc Dice</a></li>
                <li><a th:href="@{/}">Characeter Sheet</a></li>
            </ul>
        </div>

        <div id="content">
            <div th:replace="${body}"></div>
        </div>

        <footer>
            <ul class="footer_nav">
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/}">Demo Battle</a></li>
                <li><a th:href="@{/}">Pc Dice</a></li>
                <li><a th:href="@{/}">Characeter Sheet</a></li>
            </ul>
            <small>©2021- MyApplicationss</small>
        </footer>
    </div>
</body>
</html>