<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{views/layout/app :: layout(~{::body/content()})}">
<head>
</head>
<body>
    <div class="csShowWrap">
        <div class="csShowContainer">
            <div class="item">
                <th:block th:if="${pc.imgPath == null}">
                    <img id="preview" src="/images/defo/noimage.png" alt="cs_img" />
                </th:block>
                <th:block th:unless="${pc.imgPath == null}">
                    <img id="preview" th:src="@{/images/{id}/{img_path}(id=${pc.user.id},img_path=${pc.imgPath})}" alt="cs_img" />
                </th:block>
            </div>
            <div class="item right">
                <p th:text="'名前：'+${pc.name}"></p>
                <p th:text="'作成者：'+${pc.user.name}"></p>
            </div>
        </div>
        <div class="abilityTable">
            <h2>能力値</h2>
            <table>
                <tbody>
                    <tr><th><p>STR</p></th>
                        <th><p>CON</p></th>
                        <th><p>DEX</p></th>
                        <th><p>SIZ</p></th>
                        <th>HP</th>
                        <th>DB</th>
                    </tr>
                    <tr>
                        <td><p th:text="${pc.str}"></p></td>
                        <td><p th:text="${pc.con}"></p></td>
                        <td><p th:text="${pc.dex}"></p></td>
                        <td><p th:text="${pc.siz}"></p></td>
                        <td><p id="hp"></p></td>
                        <td><p th:text="${pd}"></p>
                        </td>

                    </tr>
                </tbody>
            </table>
            <script th:inline="javascript">
                            /*<![CDATA[*/
                            window.onload = function() {
                                document.getElementById('hp').innerHTML = Math.ceil( (/*[[ ${pc.con + pc.siz} ]]*/ )/2);

                            }
                                /*]]>*/
                        </script>
        </div>
        <div class="skillTable">
            <h2>技能値</h2>
            <table>
                <tbody>
                    <tr>
                        <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        <th>初期値</th>
                        <th>振分け</th>
                        <th>合計</th>
                    </tr>
                    <tr>
                        <th>回避</th>
                        <td id="dex_2">
                            <p th:text="${pc.dex *2}"></p>
                        </td>
                        <td>
                            <p th:text="${pc.avoidanceAdd}"></p>
                        </td>
                        <td id="avoidance">
                            <p th:text="${pc.avoidanceAdd + (pc.dex *2)}"></p>
                        </td>
                    </tr>
                    <tr>
                        <th>キック</th>
                        <td>25</td>
                        <td>
                            <p th:text="${pc.kickAdd}"></p>
                        </td>
                        <td id="kick">
                            <p th:text="${pc.kickAdd}+25"></p>
                        </td>
                    </tr>
                    <tr>
                        <th>こぶし</th>
                        <td>50</td>
                        <td>
                            <p th:text="${pc.fistAdd}"></p>
                        </td>
                        <td id="fist">
                            <p th:text="${pc.fistAdd}+50"></p>
                        </td>
                    </tr>
                    <tr>
                        <th>頭突き</th>
                        <td>10</td>
                        <td>
                            <p th:text="${pc.headbuttAdd}"></p>
                        </td>
                        <td id="headbutt">
                            <p th:text="${pc.headbuttAdd}+30"></p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <th:block th:if="${session.login_user != null}">
            <th:block th:if="${pc.user.id != session.login_user.id}">
                <form name="PcLike" method="POST" th:action="@{/pcLike}">
                    <th:block th:if="${like == null}">
                        <input class="likeButtonOff likeButton" type="submit" value="♥" />
                    </th:block>
                    <th:block th:if="${like != null}">
                        <input class="likeButtonOn likeButton" type="submit" value="♥" onclick="return Submit('PcLike','@{/pcLike}','POST');" />
                    </th:block>
                    <input type="hidden" name="token" th:value="${pc.token}" />
                    <input type="hidden" name="id" th:value="${pc.id}" />
                </form>
            </th:block>
        </th:block>
    </div>
</body>
</html>