<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{views/layout/app :: layout(~{::body/content()})}">
<head>
</head>
<body>
    <div class="cs_index_wrapper">
    <h2 th:if="${flush != null}" id="flush_message" th:text="${flush}"></h2>
            <a class="cs_new" th:href="@{/cs/new}">新規登録</a>
            <a class="cs_new" th:href="@{/cs/index}">公開されているキャラシを見る</a>
            <a class="cs_new" th:href="@{/cs/userLike}">お気に入りを見る</a>
        <th:block th:if="${pc != null}">
            <div class="cs_index_list">
                <div class="cs_index_container" th:each="pc : ${pc}" th:object="${pc}"><!-- ここも繰り返される -->
                    <!-- th:objectを指定しておくことで*{}で中身を取り出すことが出来る。 -->
                    <div class="item">
                    <th:block th:if="*{imgPath != null}">
                        <img th:src="@{/images/{id}/{img_path}(id=*{user.id},img_path=*{imgPath})}" />
                    </th:block>
                     <th:block th:unless="*{imgPath != null}">
                        <img src="/myapplications/images/defo/noimage.png" />
                    </th:block>
                    </div>
                    <div class="item">
                        <p th:text="*{name}"></p>
                        <p th:text="'作成者:' + *{user.name}"></p>
                        <a class="cs_edit" th:href="@{/cs/edit(id=*{id})}">編集</a>
                    </div>
                </div>
            </div>
        </th:block>
                <div id="pagination">
            <th:block th:each="i : ${#numbers.sequence(1,((count - 1) / 10) + 1)}">
                <a th:text="${i}" th:href="@{/pd/index(page=${i})}"></a>
            </th:block>
        </div>
    </div>
</body>
</html>